@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik+Mono+One&family=Spline+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --color1: black;

    --font1: 'Inter', sans-serif;
    --font2: 'Spline Sans Mono', monospace;
    /* --font3: 'Rubik Mono One', sans-serif; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
    color: white;
}

body{
    background: #202020;
}


html{
    scroll-behavior: smooth;
}

h1{
    font-family: var(--font1);
    font-size: 2.5em;
}

h2, h3{
    font-family: var(--font2);
    font-size: 2em;
}

ul, li{
    list-style: none;
    margin: 0;
    list-style-position:inside;

}

a{
    text-decoration: none !important;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: inherit;
}

/* Header */

header{
    position: fixed;
    width: 100%;
    padding: 1em 0;
    color: white;
    z-index: 100;
}

header .wrapper{
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: 20px;
    color: white;
}

.wrapper nav a{
    transition:  all 1s ease;
}

.wrapper nav a:hover{
    color: rgb(214, 202, 24);
} 

.wrapper ul{
    display: flex;
    gap: 2.4em;
}

.nav-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a.cta{
    color: black;
    background: rgb(214, 202, 24);
    padding: .5em .8em;
    border-radius: 0 .7em 0 .7em;
    font-weight: bold;
    transition: 1s all ease;
}

a.cta:hover{
    background: rgb(189, 146, 5);
}

/* Hero */
#hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
  
#hero video{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* filter: grayscale(70%); */
    /* filter: blur(3px); */
    filter: brightness(0.7);
}
@media(min-aspect-ratio: 16/9){
#hero video{
    width: 100%;
    height: auto;
}
}
  
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1, .content h2{
    /* margin-top: 80px; */
    /* font-weight: 800; */
    /* text-shadow: -0.5pxrgb(100, 93, 93)ack, 0 0.5px rgb(56, 52, 52), 0.5px rgb(94, 86, 86)ck, 0 -0.5px rgb(82, 73, 73); */
}

.content div{
    margin-top: 30px;
}

#btn-main{
    width: 200px;
    margin-top: 40px;
    padding: 20px;
    padding-inline: 15px;
    border: 3px solid #ddc915;
    color: #ddc915;
    font-size: 1.1em;
    transition: all .4s ease;
    font-weight: bolder;
    text-align: center;
}

#btn-main:hover{
    background: #ddc915;
    color: black;
}

/* Prueba */
#prueba{
    height: 120vh;
    width: 100%;
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
    padding-bottom: 70px;
}

/* .prueba-conteiner{
        position: absolute;
    width: 90%;
    height: 80%;
    background: #1c1c1c;
    top: 10%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50px;
} */

.prueba-object{
    background: #1c1c1c;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    position: relative;
}

.prueba-card{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prueba-card h2, .prueba-card p{
    padding-block: 7px;
}

.card-medio{
    /* background: grey; */
    border-radius:150px;
    height: 50%;
    width: 15%;
}

.prueba-button{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    bottom: -60px;
    height: 120px;
    width: 65%;
    background: #ebeaea;
    border-radius:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prueba-button p{
    color: black;
    text-align: center;
    font-family: var(--font1);
}

/* Introduccion */
#introduccion{
    height: 100vh;
    /* background: linear-gradient(red 5%, black 10% ,black 100%);  */
    /* background: #202020; */
    background: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-block: 30px;
}

.intro-info{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.intro-cards{
    height: 90%;
    width: 45%;
    background: #1c1c1c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    transition: all 1s ease;
}

.intro-cards:hover{
    transform: translateY(-10px);
    background: #292828;
}

.intro-foto{
    width: 30%;
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg);
}

.intro-foto img{
    height: 150vh;
    /* width: 30%; */
}

/* General */
#general{
    height: 140vh;
    /* background: rgb(14, 10, 39); */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#general img{
    z-index: -1;
    height: 100%;
    width: 120vw;
    position: absolute;
    object-fit: cover;
}

.general-intro{
    width: 70%;
    height: 25%;
    display: flex;
    align-items: center;
}

.general-intro h1{
    padding-left: 10px;
    border-left: 3px solid white;
}

.general-conteiner{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.general-main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.general-cards{
    height: 50%;
    width: 90%;
    background: rgba(207, 200, 200, 0.219);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    justify-content: space-evenly;

}

.data{
    height: 100%;
    width: 30%;
    justify-content: center;
}

.general-cards ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 8px;
    margin-top: 10px;
    --icon-space: 1.3em;
}

.general-cards li{
    padding-left: var(--icon-space);
}

.general-cards li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

/* Nosotros */
#nosotros{
    height: 100vh;
    background: rgb(5, 1, 29);
}

#nosotros h1{
    padding: 90px;
}
/* Footer */

footer{
    height: 20vh;
    background: black;
}

/* Form */
#form-box{
    padding-top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.form {
    align-self: center;
}
 
.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
    @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);
    }

    &:focus {
        outline: none;
        border-top-color: rgba(0,0,0,0.1);
    }

/* When the input field (.form__input) is in focus, 
    transform the .form__label and change colors*/
/* ALSO, if the input field's placeholder is NOT shown (when the input field has content),
    transform the .form__label and change colors. */
    &:focus + .form__label, &:not(:placeholder-shown) + .form__label {
        transform: translateY(-4.50rem) scale(1);
        color: black;
    }

/* THIS PART IS IMPORTANT!! */
/* The block below hides the placeholder entirely. */
/* For all intents and purposes, the placeholder no longer exists. */
/* What shows on the input field is only the label*. */
/* HOWEVER, the input fields still recognizes that the placeholder exists!*/
/* The placeholder is just invisible. We need the placeholder to exist for
    some weird CSS stuff. If we skip this, we can't make it CSS-only. */
    &::placeholder {
        display: none;
        color: transparent;
        
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

/* When the placeholder is NOT shown,
    style the top border. */
/* This makes the top border fade-out when the placeholder disappears. */
    &:not(:placeholder-shown) {
        border-top-color: rgba(0, 0, 0, 0.5);
    }
}

.form__label {
font-size: 1rem;
color: grey;
display: block;

/* Moves the label on TOP of the placeholder */
/* You'll need to change this as needed */
transform: translate(1.25rem,-2.5rem);
transform-origin: 0 0; /* Used later for transitions */
transition: all 500ms;

-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */

/* THIS PART IS IMPORTANT! */
/* This line prevents the label from being selected.*/
/* This is crucial because if this line doesn't exist, users can
    click on the label, instead of the input field. That's bad UX! */
pointer-events: none; 
}
  