@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik+Mono+One&family=Spline+Sans+Mono&display=swap');
:root{
    --color1: black;

    --font1: 'Inter', sans-serif;
    --font2: 'Spline Sans Mono', monospace;
    /* --font3: 'Rubik Mono One', sans-serif; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
    color: white;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: var(--font1);
    font-size: 3em;
}

h2, h3{
    font-family: var(--font2);
    font-size: 2.3em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: inherit;
}

/* Header */

header{
    position: fixed;
    width: 100%;
    padding: 1em 0;
    color: white;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: 20px;
    color: white;
}

.wrapper a{
    transition:  all 1s ease;
}

/* .wrapper a:hover{
    color: rgb(214, 202, 24);
} */

ul{
    display: flex;
    gap: 2.4em;
}

.nav-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a.cta{
    color: black;
    background: white;
    padding: .5em .8em;
    border-radius: 0 .7em 0 .7em;
    font-weight: bold;
    transition: 1s all ease;
}

a.cta:hover{
    background: rgb(214, 202, 24);
}

/* Hero */
#hero{
    height: 150vh;
    background: rgb(14, 10, 39);
    padding-block: 200px;
    text-align: center;
}

/* Introduccion */
#introduccion{
    height: 100vh;
    background: rgb(5, 1, 29);
}

.intro-titulo{
    padding: 90px;
}

#introduccion img{
    background: transparent;
}

/* General */
#general{
    height: 100vh;
    background: rgb(14, 10, 39);

}




/* Footer */

footer{
    height: 20vh;
    background: black;
}